nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
  .library-button{
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    padding: 0;
    width: 90px;
    justify-content: space-evenly;
    span{
      font-size: 14px;
      align-self: center;
    }
    &:hover {
      background: transparent;
      color: initial;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
