* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease;
}

// .library-active {
//   margin-left: 20%;
// }

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-weight: 600;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.link {
  text-decoration: none;
}

.dark-mode {
  background-color: #000;
  color: #fff;

  h1,
  h2,
  h3,
  p,
  h4,
  span {
    color: #fff;
  }

  .library-button {
    svg {
      color: #fff;
    }
  }

}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";